
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hoş Geldiniz</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
    </table>
</body>
</html>
